.get-order-details {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.get-order-details .details-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.details-container .order-id-textfield {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  letter-spacing: 1px;
}
